*{
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    color: #0077B6;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
#footer{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #90E0EF;
    height: 150px;
    
}
#footer>ul{
    list-style: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
}
#footer>ul>li{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #0077B6;
}