#FUZnaslov{
    margin-inline:auto;
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 30px;
}
#FUZtabela{
    text-align: center;
    margin-inline: auto;
    width: 80%;
    font-size: large;
    margin-bottom: 200px;
}
td,th,tr{
    height: 35px;
}
.red1{
    background-color: rgb(0, 119, 255);
    color:white;
}
.red0{
    background-color: rgb(0, 51, 255);
    color:white;
    font-weight: bold;
}
.red2{
    background-color: white;
    color: black;
}
#FUZstranica{
    background-image: url("https://images.unsplash.com/photo-1573496130103-a442a3754d0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    height: 83vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(101, 206, 255);
}