@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
#header{
    display: flex;
    justify-content: space-between;
    background-color:#90E0EF;
  }
  #headerIcon{
    max-height: 100px;
    max-width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  #headerIcon:hover{
    transform: scale(1.1,1.1);
  }
  #headerIcon img{
    height: 100%;
    width: 100%;
  }
  #headerButtons{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .button{
    /* line-height: 250%; */
    /* width: 100%; */
    font-size: 30px;
    min-width: fit-content;
    /* border-radius: 30px; */
    /* transition-property: background-color,color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; */
    border-color: none;
    border-style: none;
    /* background-color: rgb(39, 39, 255); */
    color: #0077B6;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* padding-inline: 10px 10px; */
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); */
  }
  .button:hover{
    /* color: black;
    background-color: white; */
    cursor: pointer;
  }
  .button a{
    text-decoration: none;
    color: #0077B6;
  }
  .menuButton *{
    text-decoration: none;
    color: white;
  }
  .menuButton{
    min-width: fit-content;
    /* transition-property: width;
    transition-duration: 0.3s; */
    display: flex;
    /* border-radius: 30px; */
  }
  /* .menuButton:hover{
    width:30%;
  } */
  .menuButton>div{
    color: #0077B6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .dropdown{
    position: absolute;
    top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* width:20.75%; */
    width: 7.5%;
    z-index: 1;
    opacity: 0;
    height: 0%;
    transition: 0.3s opacity , 0.3s height , 0.3s width;
  }
  .menuButton:hover>.dropdown{
    opacity: 1;
    /* width:20.75%; */
    height: 120px;
  }
  .dropDownItem{
    background-color: #CAF0F8;
    width: 100%;
    border-radius: 30px;
    color: #0077B6;
    text-align: center;
    line-height: 25px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
    transition: 0.3s background-color, 0.3s color;
    width: fit-content;
    padding-inline: 10px;
    min-width: 200px;
    font-weight: bold;
  }
  .dropDownItem:hover{
    background-color: white;
  }